<h1>Home Page</h1>
this is the home page here
<br>
<br>
<a href="#/admin">Admin Page - As Not Authenticated User</a><br>
<a href="#/admin?pass=true">Admin Page - As Authenticated User</a><br>
<a href="#/login">Login Page</a><br>

