<h1>Login Page</h1>
this is the login page
<br>
<br>
<a href="#/home">Home Page</a><br>
<a href="#/admin">Admin Page - As Not Authenticated User</a><br>
<a href="#/admin?pass=true">Admin Page - As Authenticated User</a><br>